@import '../stylesDev/style.css';

/* ? header */
.header{
    background: linear-gradient(278.32deg, #0B3F37 47.97%, #CB8D62 136.33%);
}



/* ? hero */

.hero{
    padding: 180px 0;
    background: #f9f8f8;
}

.hero__top{
    font-weight: 500;
    display: flex;
    font-size: 18px;
    line-height: 17px;
    color: #031412;
    column-gap: 2px;
}

.hero__top span{
    font-weight: 600;
}

.hero__left{
    margin-top: 125px;
}

.about__hero-left{
    opacity: 0;
    transition: all 2s ease;
    visibility: hidden;
}

.hero__title{
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-family: 'Lighthaus';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    color: #031412;
}

.hero__title::after{
    max-width: 550px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #031412;
}

.hero__body{
    max-width: 533px;
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    line-height: 48px;
    display: flex;
    row-gap: 35px;
    flex-direction: column;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero__item{
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
}

.hero__right{
    display: flex;
    align-items: flex-end;
}

.about__hero-right{
    transform: translate(1200px, 0);
}

.hero__right div:first-child{
    transform: translate(200px, 0);
}

.hero__right div:last-child{
    position: relative;
    transform: translate(60px, 0px);
}

.hero__director{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.hero__director img{
    max-width: 190px;
}

/* ? clients */

.clients{
    position: relative;
    padding: 120px 0;
}

.clientsBG::after{
    content: "";
    position: absolute;
    background: url('../images/about/clients/BG.png') no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
}

.clients__container{
    display: flex;
    column-gap: 35px;
    align-items: center;
    justify-content: space-between;
}

.clients__title{
    max-width: 60%;
    margin-bottom: 23px;
    line-height: 53px;
    text-align: left;
}

.clients__descr{
    max-width: 470px;
    font-size: 20px;
    line-height: 25px;
    color: #031412;
}

.clients__count{
    font-weight: 900;
    font-size: 50px;
    line-height: 48px;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.clients__num{
    display: inline-block;
    font-weight: 800;
    font-size: 250px;
    line-height: 241px;
    color: rgba(0, 0, 0, 0.3);
    background: url('../images/about/clients/BG.png') no-repeat;
    overflow: hidden;
    color: transparent;
    background-size: contain;
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ? history */
.history{
    position: relative;
    height: 100%;
    display: flex;
    z-index: 2;
}

.history::before,
.history::after{
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    position: absolute;
}

.history::after{
    background: url('../images/about/history/BG3.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

.history::before{
    background: url('../images/about/history/BG1.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

.history__copper{
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Lighthaus';
    font-style: normal;
    display: inline-block;
    font-weight: 400;
    font-size: 155px;
    line-height: 116px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    max-height: 72%;
}

.history__title{
    margin-top: 75px;
    margin-bottom: 28px;
    color: #FFFFFF;
}

.history__item{
    display: flex;
    column-gap: 30px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 75px;
    justify-content: center;
}

.history__left,
.history__right{
    max-width: 445px;
    width: 100%;
}


/* ? geography */
.geography{
    padding: 80px 0;
    position: relative;
    height: 100%;
    background: #f9f8f8;
}

.geography__container{
    display: flex;
    align-items: center;
    column-gap: 60px;
    justify-content: space-between;
}

.geography__left{
    text-align: left;
    max-width: 365px;
    display: flex;
    row-gap: 38px;
    flex-direction: column;
}

.geography__title{
    text-align: left;
    line-height: 53px;
}

.geography__descr{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #031412;
}

.geography__right{
    position: relative;
}

.geography__item{
    position: absolute;
    bottom: 0;
    height: min-content;
}

.geography__item:first-child{
    top: 50%;
    left: 50%;
}


/* ? value */

.value{
    padding: 80px 0;
}

.value__container{
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
}

.value__right{
    max-width: 486px;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
}

.value__title{
    text-align: left;
    max-width: 300px;
    margin-bottom: 0;
    line-height: 53px;
}

.value__descr{
    max-width: 430px;
    font-size: 20px;
    line-height: 25px;
    color: #031412;
}

.value__list{
    display: flex;
    row-gap: 40px;
    flex-direction: column;
}

.value__item{
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: #031412;
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.value__item img{
    max-width: 60px;
}



/* ? we */
/* ? we */
.we{
    padding: 80px 0;
    position: relative;
    background: #f9f8f8;
}

.we::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background: url('../images/index/BEST/BG.png') no-repeat;
    background-size: cover;
    z-index: -2;
    background-position: center center;
}

.we::before{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    z-index: -1;
    background: rgba(11, 63, 55, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.we__list{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.we__item{
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    justify-content: space-between;
}

.we__top{
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    font-weight: 800;
    font-size: 20px;
    line-height: 19px;
    color: #031412;
}

.we__top img{
    max-width: 76px;
    padding: 15px;
    background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
}

.we__body{
    font-size: 14px;
    line-height: 19px;
    color: #031412;
}






























































































































































































/* ? hero */

@media(max-width: 1024px) {
    .hero{
        padding: 280px 0 120px;
    }
    .hero__item{
        flex-wrap: wrap;
        row-gap: 120px;
    }
    .hero__right{
        width: 100%;
        justify-content: flex-end;
        transform: translate(0px, -100px);
    }
    .hero__body{
        row-gap: 56px;
    }
}

@media(max-width: 724px) {
    .hero__left{
        width: 100%;
        margin-top: 45px;
    }
    .hero__title{
        max-width: 70%;
        font-size: 60px;
        line-height: 45px;
    }
    .hero__body{
        max-width: max-content;
        font-size: 30px;
        line-height: 32px;
    }
    .hero__director{
        font-size: 18px;
        line-height: 17px;
    }
    .hero__right{
        transform: translate(0, 0);
    }

}

@media(max-width: 540px) {
    .hero{
        padding: 140px 0 60px;
    }
}

@media(max-width: 475px) {
    .hero__item{
        row-gap: 30px;
    }
    .hero__right div:first-child{
        transform: translate(50px, 0);
    }
    .hero__right div:last-child{
        transform: translate(0, 0);
    }
}

/* ? clients */

@media(max-width: 1267px) {
    .clients__container{
        row-gap: 60px;
        flex-direction: column;
    }
    .clients__left{
        display: flex;
        row-gap: 30px;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .clients__title{
        max-width: max-content;
    }
    .clients__count{
        text-align: center;
    }
}

@media(max-width: 776px) {
    .clients{
        padding: 40px 0;
    }
    .clients__num{
        font-size: 150px;
    }
}

@media(max-width: 480px) {
    .clients__left{
        row-gap: 0px;
    }
    .clients__num{
        font-size: 100px;
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
    }
    .clients__count{
        font-size: 18px;
        line-height: 17px;
    }
    .clients__descr{
        font-size: 16px;
    }
}

/* ? history */
@media(max-width: 1024px) {
    .history__copper{
        display: none;
    }
    .history::after{
        display: none;
    }
    .history__grey{
        color: grey;
    }
}

@media(max-width: 450px) {
    .history__title{
        margin-top: 50px;
    }
    .history__item{
        margin-bottom: 50px;
    }
    .history__item{
        flex-direction: column;
    }
}


@media(max-width: 1024px) {
    .geography__container{
        row-gap: 30px;
        flex-direction: column;
    }
    .geography__left{
        text-align: center;
        max-width: max-content;
        width: 100%;
    }
    .geography__title{
        margin-bottom: 0;
        text-align: center;
    }
}

@media(max-width: 768px) {
    .geography__left{
        row-gap: 10px;
    }
}


/* ? value */
@media(max-width: 767px) {
    .value__container{
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }
    .value__right{
        max-width: max-content;
        row-gap: 25px;
    }
    .value__title,
    .value__descr{
        text-align: center;
        max-width: max-content;
        margin: 0 auto;
    }
    .value__list{
        margin: 0 auto;
    }
}


/* ? we */
@media(max-width: 1024px) {
    .we__list{
        gap: 25px;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

